/* .d-flex div {
  padding: 1rem;
  background-color: #335de5;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
} */


.container {
 margin-left: 100px;
 padding-left: 190px;
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 
}

.justify-content-start div {
  padding: 1rem;
  background-color: #a3a3a3da;
  /* border: 1px solid #fff; */
  color: #fff;
  text-align: center;
  align-content: flex-start;
  justify-content: flex-start;
  border-radius: 10px;
  border: 1px solid black;
  margin-top: 5px;
  margin-left: 32px
}


.justify-content-center1 div {
  padding: 1rem;
  background-color: #a3a3a3da;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  align-content: center;
  justify-content: flex-start;
  border-radius: 10px;
  border: 1px solid black;
  margin-top: 5px;
  margin-left: 5px
}

.justify-content-center2 div {
  padding: 1rem;
  background-color: #a3a3a3da;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  justify-content: flex-start;
  border-radius: 10px;
  border: 1px solid black;
  margin-top: 5px;
  margin-left: 5px
}

.justify-content-end1 div {
  padding: 1rem;
  background-color: #35913c;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  justify-content: flex-start;
  border-radius: 10px;
  border: 1px solid black;
  margin-top: 5px;
  margin-left: 5px
}

.justify-content-end2 div {
  padding: 1rem;
  background-color: #a71717da;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  justify-content: flex-start;
  border-radius: 10px;
  border: 1px solid black;
  margin-top: 5px;
  margin-left: 5px
}


.result {
  height: 60px;
  background-color: #bbb;
  width: 100%;
}

.result p {
  font-size: 40px;
  margin: 5px;

}

.calculator-body {
  max-width: 400px;
  margin: auto;
}

.button {
  display: block;
  background-color: #bbb;
}

button {
  width: 25%;
  height: 60px;
  font-size: 30px;
}

.formCenter {
  padding-left: 300px;

}